extends layout

block content
    .wrapper
      .form(onsubmit='event.preventDefault(); validate()')
        form#user-data(action='/user', method='post')
          .form-title Agregar un usuario
          label
            span Nombre
            input#form-name(type='text', name="name", onblur='validateName(this)', onfocus='removeError(this)', placeholder='Máx. 30 caracteres')
            div.error_msg
              span.display-none Debe tener un maximo de 30 caracteres
          label
            span Apellido
            input#form-lastname(type='text', name="lastname", onblur='validateName(this)', onfocus='removeError(this)', placeholder='Máx. 30 caracteres')
            div.error_msg
              span.display-none Debe tener un maximo de 30 caracteres
          label
            span Teléfono
            input#form-phone(type='number', name="phone", onblur='validatePhone(this)', onfocus='removeError(this)', placeholder='Sólo números')
            div.error_msg
              span.display-none Debe ingresar un número válido
          label
            span Email
            input#form-email(type='email', name="email", onblur='validateEmail(this)', onfocus='removeError(this)', placeholder='Ingrese un email')
            div.error_msg
              span.display-none Debe ser un email válido
          input(type='submit', value='Agregar')
      .bg-image
    script.
      removeError = (e) => {
      e.classList.remove("error");
      e.nextElementSibling.firstChild.classList.add("display-none");
      }
      addError = (e) => {
      e.classList.add("error");
      e.nextElementSibling.firstChild.classList.remove("display-none");
      }
      validateName = (e) => {
      const validName = /^.{1,30}$/
      if (!validName.test(e.value)) addError(e)
      }
      validatePhone = (e) => {
      const validNumber = /^[0-9]{1,}$/
      if (!validNumber.test(e.value)) addError(e)
      }
      validateEmail = (e) => {
      const validEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
       if (!validEmail.test(e.value)) addError(e)
      }
      validate = () => {
      validateName(document.getElementById("form-name"))
      validateName(document.getElementById("form-lastname"))
      validatePhone(document.getElementById("form-phone"))
      validateEmail(document.getElementById("form-email"))
      if (!document.querySelector(".error"))   document.getElementById("user-data").submit()
      }